<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <title>Forumulario de Entrada do Cliente</title>
    <form method="post">
        Nome:<input type="text" value="" name="nomeCli">
        </br>
        Sobrenome:<input type="text" value="" name="sobrenomeCli">

        E-mail:<input type="text" value="" name="emailCli">
        Senha:<input type="text" value="" name="senhaCli">
        Fone:<input type="number" value="" name="foneCli">
        Rua:<input type="text" value="" name="ruaCli">
        CEP:<input type="text" value="" name="cepCli">
        Bairro:<input type="text" value="" name="bairroCli">
        Número:<input type="text" value="" name="numeroCli">
        Sexo:<input type="text" value="" name="sexo">
        CPF:<input type="text" value="" name="cpfCli">
        Data de Nascimento:<input type="text" value="" name="nascimentoCli">
        Estado:<input type="text" value="" name="EstadoCli">
        Cidade:<input type="text" value="" name="cidadeCli">

        <button type="submit">Salvar</button>
    </form>
</body>
</html>