<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>To Dress</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-light backgroundnav static-top">
    <div class="container" style="display:flex;justify-content:center;align-items:center;">
        <a class="navbar-brand" href="/home"><b>To Dress</b></a>
        <span class="navbar-text">Sistema de Gerenciamento de Aluguel de Trajes</span>
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-dark" type="submit">Sair</button>
        </form>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead text-dark text-center">
    <h3 class="text-center">Editar Roupa ou Utensílio</h3>
    <div class="container box-left" >
        <div class="page-header">
            <h1>Bem vindo(a), <span sec:authentication="name"></span>!</h1>
        </div>
        <div class="row">
            <div class="col-3"> <i class="fas fa-address-book fa-3x float-left "></i></div>
            <div class="col-9 text-left">    <a href="/gerenciarCli" class="text-left">Gerenciar Cliente.</a> </div>
            <br>
            <br>
            <br>
        </div>

        <div class="row">
            <div class="col-3"> <i class="fas fa-tshirt fa-3x float-left"></i></div>
            <div class="col-9 text-left">  <a href="/gerenciarRoupaUtensilios" class="text-left">Gerenciar Trajes.</a></div>
            <br>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-3"><i class="fas fa-link fa-3x float-left"></i></div>
            <div class="col-9 text-left"><a href="/gerenciarAluguel" class="tamfonte text-left">Gerenciar Aluguel.</a></div>
            <br>
            <br>
            <br>
        </div>

        <div class="row">
            <div class="col-3"><i class="fas fa-calendar-alt fa-3x float-left"></i></div>
            <div class="col-9 text-left"> <a href="/atualizarData" class="tamfonte">Atualizar Data de Entrega.</a> </div>
            <br>
            <br>
            <br>
        </div>

        <div class="row">
            <div class="col-3"> <i class="fas fa-calendar-alt fa-3x float-left"></i></div>
            <div class="col-9 text-left">    <a href="/atualizarRetirada" class="tamfonte">Atualizar Data de Retirada.</a> </div>
            <br>
            <br>
            <br>
        </div>

    </div>
    <div class="container box">
        <!-- <div class="row">-->
        <!--<div class="col-xl-9 mx-auto">-->

        <form action="/editarRoupaUtensilios" method="POST" >
            <label for="codRoupaUtensilios">Código:<input type="number" name="codRoupaUtensilios" id="codRoupaUtensilios" class="form-control" th:field="${roupaU.codRoupaUtensilios}"></label>

            <label for="tamanho">Tamanho:<input type="text" name="tamanho" id="tamanho" class="form-control" th:field="${roupaU.tamanho}" ></label>
            <br>
            <label for="cor">Cor:<input type="text" name="cor" id="cor" class="form-control" th:field="${roupaU.cor}"></label>

            <label for="precoRoupaUtensilio">Preço:<input type="text" name="precoRoupaUtensilio" id="precoRoupaUtensilio" class="form-control" th:field="${roupaU.precoRoupaUtensilio}"></label>
            <br>
<!--            <label for="codTipoRoupa">Código do tipo da roupa:<input type="number" name="codTipoRoupa" id="codTipoRoupa" class="form-control" th:field="${roupaU}"></label>-->
<!--            <div class="row">-->
<!--                <label for="codRoupaUtensilios">Tipo de Roupa:-->
<!--                    <div class="col-5"><select class="custom-select form-control" id="inputGroupSelect01">-->
<!--                        <option th:value=""></option>-->
<!--                    </select>-->
<!--                    </div>-->
<!--                </label>-->
<!--            </div>-->

            <!--            <label for="descricao">Descrição:<input type="text" name="descricao" id="descricao" class="form-control" th:field="${cliente.numeroCli}"></label>-->
            <br>
            <br>
            <!--/*@thymesVar id="idCli" type="java"*/-->
            <button type="submit" class="btn btn-primary">Editar</button>
            <a class="btn btn-danger ml-5" href="/gerenciarRoupaUtensilios" role="button">Cancelar</a>
        </form>
    </div>
</header>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="vendor/jquery/mascaras.js"></script>
<script src="vendor/jquery/jquery.maskedinputs.js"></script>
</body>

</html>
