<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>To Dress</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-light backgroundnav static-top">
    <div class="container" style="display:flex;justify-content:center;align-items:center;">
        <a class="navbar-brand" href="/index"><b>To Dress</b></a>
        <span class="navbar-text">Sistema de Gerenciamento de Aluguel de Trajes</span>
        <a class="btn btn-dark" href="/" role="button">Sair</a>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead text-dark text-center">
    <!-- <div class="overlay "></div>-->
    <div class="container box-left" >
        <h3>Nome da pessoa vai aqui</h3>
        <i class="fas fa-address-book fa-3x"></i><a href="/gerenciarCli"> Gerenciar Cliente.</a>
        <br>
        <br>
        <i class="fas fa-tshirt fa-3x"></i><a href="/gerenciarTrajes">Gerenciar Trajes.</a>
        <br>
        <br>
        <i class="fas fa-link fa-3x"></i><a href="/gerenciarTrajes">Gerenciar Aluguel.</a>
        <br>
        <br>
        <i class="fas fa-link fa-3x"></i><a href="/gerenciarTrajes">Atualizar Data de Entrega.</a>
        <br>
        <br>
        <i class="fas fa-link fa-3x"></i><a href="/gerenciarTrajes">Atualizar Data de Retirada.</a>
        <!-- <div class="row">-->
        <!--<div class="col-xl-9 mx-auto">-->
        <!--</div>-->
    </div>

    <div class="container box-left" >
        <h3>Nome da pessoa vai aqui</h3>
        <i class="fas fa-address-book fa-3x"></i><a href="/gerenciarCli"> Gerenciar Cliente.</a>
        <br>
        <br>
        <i class="fas fa-tshirt fa-3x"></i><a href="/gerenciarRoupaUtensilios">Gerenciar Trajes.</a>
        <br>
        <br>
        <i class="fas fa-link fa-3x"></i><a href="/gerenciarAluguel">Gerenciar Aluguel.</a>
        <br>
        <br>
        <i class="fas fa-calendar-alt fa-3x"></i><a href="/atualizarData">Atualizar Data de Entrega.</a>
        <br>
        <br>
        <i class="fas fa-calendar-alt fa-3x"></i><a href="/atualizarRetirada">Atualizar Data de Retirada.</a>
        <!-- <div class="row">-->
        <!--<div class="col-xl-9 mx-auto">-->
        <!--</div>-->
    </div>

    <div class="container box">
        <!-- <div class="row">-->
        <!--<div class="col-xl-9 mx-auto">-->
        <h1>Editar cadastro de Cliente</h1>
        <form action="/editarCli" method="POST" >
<!--            th:action="@{/students/update/{id}(id=${student.id})}"-->
<!--            th:object="${student}"-->
            <input type="hidden" name="idCli" th:field="${cliente.idCli}">
            <label for="nomeCli">Nome:<input type="text" name="nomeCli" id="nomeCli" class="form-control" placeholder="digite o seu nome" th:field="${cliente.nomeCli}"  ></label>

            <label for="nascimentoCli">Data de Nascimento:<input type="date" name="nascimentoCli" id="nascimentoCli" class="form-control" th:field="${cliente.nascimentoCli}" ></label>
            <br>
            <label for="sobrenomeCli">Sobrenome:<input type="text" name="sobrenomeCli" id="sobrenomeCli" class="form-control" placeholder="digite o seu sobrenome" th:field="${cliente.sobrenomeCli}"></label>

            <label for="cpfCli">CPF:<input type="text" name="cpfCli" id="cpfCli" class="form-control cpf" placeholder="digite o cpf" th:field="${cliente.cpfCli}"></label>
            <br>
            <label for="ruaCli">Rua:<input type="text" name="ruaCli" id="ruaCli" class="form-control" placeholder="digite a sua rua" th:field="${cliente.ruaCli}"></label>

            <label for="numeroCli">N°:<input type="number" name="numeroCli" id="numeroCli" class="form-control" placeholder="digite o seu n°" th:field="${cliente.numeroCli}"></label>
            <br>
            <label for="cepCli">Cep:<input type="text" name="cepCli" id="cepCli" class="form-control cep" placeholder="digite o seu cep" th:field="${cliente.cepCli}"></label>

            <label for="bairroCli">Bairro:<input type="text" name="bairroCli" id="bairroCli" class="form-control" placeholder="digite o seu bairro" th:field="${cliente.bairroCli}"></label>
            <br>
            <label for="cidadeCli">Cidade:<input type="text" name="cidadeCli" id="cidadeCli" class="form-control" placeholder="digite a cidade" th:field="${cliente.cidadeCli}"></label>

            <label for="estadoCli">Estado:<input type="text" name="estadoCli" id="estadoCli" class="form-control" placeholder="digite o estado" th:field="${cliente.estadoCli}"></label>
            <br>
            <label for="foneCli">Telefone:<input type="text" name="foneCli" id="foneCli" class="form-control telefone" placeholder="digite o fone" th:field="${cliente.foneCli}"></label>

            <label for="emailCli">E-mail:<input type="text" name="emailCli" id="emailCli" class="form-control" placeholder="digite o email" th:field="${cliente.emailCli}"></label>
            <br>
            <!--/*@thymesVar id="idCli" type="java"*/-->
            <button type="submit" class="btn btn-primary">Editar</button>
            <a class="btn btn-danger ml-5" href="/gerenciarCli" role="button">Cancelar</a>
        </form>
        <!--</div>-->
    </div>
    <!--</div>-->
</header>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="vendor/jquery/mascaras.js"></script>
<script src="vendor/jquery/jquery.maskedinputs.js"></script>
</body>

</html>
