<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>To Dress</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-light backgroundnav static-top">
    <div class="container" style="display:flex;justify-content:center;align-items:center;">
        <a class="navbar-brand" href="/index"><b>To Dress</b></a>
        <span class="navbar-text">Sistema de Gerenciamento de Aluguel de Trajes</span>
        <a class="btn btn-dark" href="/index" role="button">Sair</a>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead text-dark text-center">
    <!-- <div class="overlay "></div>-->
    <div class="container box-left" >
        <h3>Nome da pessoa vai aqui</h3>
        <i class="fas fa-address-book fa-3x"></i><a href="/gerenciarCli"> Gerenciar Cliente.</a>
        <br>
        <br>
        <i class="fas fa-tshirt fa-3x"></i><a href="/gerenciarRoupaUtensilios">Gerenciar Trajes.</a>
        <br>
        <br>
        <i class="fas fa-link fa-3x"></i><a href="/gerenciarAluguel">Gerenciar Aluguel.</a>
        <br>
        <br>
        <i class="fas fa-calendar-alt fa-3x"></i><a href="/atualizarData">Atualizar Data de Entrega.</a>
        <br>
        <br>
        <i class="fas fa-calendar-alt fa-3x"></i><a href="/atualizarRetirada">Atualizar Data de Retirada.</a>
        <!-- <div class="row">-->
        <!--<div class="col-xl-9 mx-auto">-->
        <!--</div>-->
    </div>

    <div class="container pesquisa col-auto " >

        <form action=" " method="post" >

            <label for="busca">Buscar</label>
            <input type="search" id="busca" name="q">
            <button type="submit"><i class="fas fa-search fa-1x"></i></button>
            <a class="btn btn-primary ml-5" href="/cadastrarRoupaUtensilios" role="button">Cadastrar</a>
        </form>

    </div>

    <div class="card posicao" style="width: 50%;">
        <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Descrição</th>
                <th scope="col">Cor</th>
                <th scope="col">Ação</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="roupaUtensilios: ${roupaUtensilios}">
<!--                <tr th:each="tipoRoupa: ${tipoRoupa}">-->
                    <th th:text="${roupaUtensilios.codRoupaUtensilios}"></th>
<!--                    <th th:text="${tipoRoupa.descricao}"></th>-->
                    <th scope="row" th:text="${roupaUtensilios.cor}"></th>


                    <td><a class="btn btn-primary ml-5" role="button">Editar</a>
                    <a class="btn btn-primary ml-5"  role="button">Excluir</a></td>
                </tr>
                <tr th:each="tipoRoupa: ${tipoRoupa}">
                    <th th:text="${tipoRoupa.descricao}"></th>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <!--</div>-->
</header>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
