<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>To Dress</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light backgroundnav static-top">
    <div class="container" style="display:flex;justify-content:center;align-items:center;">
      <a class="navbar-brand" href="/index"><b>To Dress</b></a>
      <span class="navbar-text">Sistema de Gerenciamento de Aluguel de Trajes</span>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-dark text-center">
   <!-- <div class="overlay "></div>--> 
    <div class="container box">
     <!-- <div class="row">-->
        <!--<div class="col-xl-9 mx-auto">-->
        <h1>Login</h1>
          <form method="POST" action="/cadastrarFuncionario">
            <label>E-mail:<input type="email" class="form-control" placeholder="digite o seu e-mail" /></label>
            <br>
            <br>
            <label>Senha:<input type="password" class="form-control" placeholder="digite a sua senha"></label>
            <br>
            <button type="submit" class="btn btn-primary">Entrar</button>
            <br>

          </form>
        <br>
        <h6>Ainda não possui cadastro?</h6>
        <a href="/cadastrarFuncionario">Clique aqui para cadastrar-se.</a>
        <!--</div>-->
      </div>
    <!--</div>-->
  </header>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
